[submodule "other/STM32duino-bootloader"]
    path = other/STM32duino-bootloader
    url = https://github.com/rogerclarkmelbourne/STM32duino-bootloader.git
    ignore = all
    initrepo = true

[submodule "other/maple-bootloader"]
	path = other/maple-bootloader
	url = https://github.com/leaflabs/maple-bootloader.git
    ignore = all
    initrepo = true
[submodule "other/STM32F103"]
	path = other/STM32F103
	url = https://github.com/avislab/STM32F103.git
[submodule "dfu-util"]
	path = dfu-util
	url = git://git.code.sf.net/p/dfu-util/dfu-util
